*{  
    margin:0;   /* 外边距0*/
    padding:0;  /* 外边距0*/

}
body{
    overflow-x: hidden; /* 超出隐藏*/
}
a{
	color:  #224025;  /* 颜色白色*/
	text-decoration: none;  /* 超出隐藏*/ 
	font-family: 方正苏新诗柳楷简体;
}
ul,li{
    list-style: none;   /* 超出隐藏*/
}
span{
	color:  #8b4513;
}
.min-width{
	width: 1200px;
	margin: 0 auto;
}
header{
   width:1600px;
    height: 618px;
    overflow: hidden;
}
.div{
	margin:auto;
	width:300px;
	float:left;
}
.mainMenu{
            position: absolute;
            width: 100%;
            /*background-color: #ff4400;*/
            color: #8b4513;
            float: left;
            height: 70px;
            text-align: center;
            align-items: center;
            margin:auto;
        }
        .menu{
            float: left;
            line-height: 70px;
            font-size: 20px;
            margin-left: 50px;
            border:0px solid black ;
            border-radius: 5px;
            text-align: center;
            font-family: 方正流行体简体；
        }
        .menu:hover{
            background-color:wheat;
        }
         .menu a:hover{
            color: #8b4513;
        }
        
        #first{  
            margin-left: 5%;
        }
nav{
    width: 100%;
    height: 260px;
    text-align: center;
}
nav h3,.wrap h3{
	width: 200px;
	height: 60px;
	text-align: center;
	margin: 0px auto;
	padding-top: 40px;
	border-bottom: 5px solid rgb(66,134,117);
	font-size: 28px;
	color:rgb(66,134,117);
	font-family: 叶根友刀锋黑草;
}
nav p{
	width: 1000px;  /*宽度800px*/
	height: 60px;  /*高度800px*/
	padding-top: 20px;
	margin: 0px auto;  /*居中显示*/
	font-size: 20px;
	color:#9abeaf;
	line-height: 46px;
	font-family:方正苏新诗柳楷简体; 
}
/*关于我们end*/
/*美食详情start*/
.wrap{
    width: 100%;
    height: 800px;
    background:url(images/b1.jpg) no-repeat;
}
.wrap .wrap-uu{
	width: 1200px;
	height: 700px;
	margin: 30px auto;
}
.wrap ul li{
	width: 350px;
	height: 250px;
	float: left;
	margin: 20px;
	background-color: white;
 	text-align: center;
 	
 	border-radius: 4px;
}
.wrap ul li h2{
	color: rgb(66,134,117);
	margin-top: 60px;
	font-family:方正苏新诗柳楷简体; 
}
.wrap ul li p{
	margin-top: 20px;
	color: #fff;
	font-family: 方正流行体简体;
}
.wrap ul li:hover{
	background-color: rgb(189,208,1);
	border:none;
	color: white;
	/*border: 1px solid rgb(255,87,34);*/
}
}


